
    #Coin
      display: flex;
    width: 400px;
    height: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 10px solid black
    justify-content: center;
    align-items: center;
font-size: 10em;
    }

  #coin: hover {
    background-color: gray;
    cursor: pointer;
  }
